body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
    
}
.orange-color{
    color: orange;
}
h3{
    font-style:initial;
}
p{
    font-family:'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 80x;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}